.imagemainpage {
 width: 270px;
 height: 340px;
 box-shadow: 5px 5px 14px -4px #000000;
}

.imagescontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.podnaslov {

    text-align: center;
    padding: 15px;
    font-size: 20px;
    text-decoration: underline;
}

h1 {
 padding: 25px;
 text-align: center;
}

